$primary-color: #8EA58C;
$dark-green: #344C3D;
$dark-medium-green: #738A6E;
$light-medium-green: #BFCFBB;
$light-green: #D9E5D8;
$muted-red: #D37F7E;

@mixin gradient {
  background-image: linear-gradient(
    to bottom right, $light-medium-green, white
  );
}

@mixin btn {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 10px;
  background-color: $light-medium-green;
  cursor: pointer;
}

@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}

main {
  @include gradient;
}

.header {
  @include center-items;
  background-color: $primary-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.welcome {
  @include center-items;

  &__title {
    font-size: 2rem;
  }

  &__budget{
    @include center-items;
    text-align: center;

    &--text {
      font-size: 1.5rem;
      margin: 10px 0 0;
    }

    &--total {
      font-size: 3rem;
      margin: 30px
    }
  }

  &__chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.add-property {
  @include center-items;
  margin: 20px 0;
  background-color: whitesmoke;

  &--form {
    @include center-items;
    width: 100%;

    hr {
      height: 0.1rem;
      width: 100%;
      background-color: $dark-green;
    }
  }

  &__income,
  &__expense {
    @include center-items;
    align-items: flex-start;
    width: 70%;

    &--title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    &--btn {
      @include btn;
      margin-bottom: 10px;
    }

    label {
      font-size: 1.25rem;
    }

    input {
      border: none;
      border-radius: 5px;
      padding: 5px;
      width: 100%;
      margin-bottom: 10px;
      background-color: white;
      font-size: 1rem;

      // &:focus {
        // border-color: $dark-green;
        // outline: $dark-green;   
      // }
    }
  }
}

.btn-sec__btn {
  @include btn;

  &--selected {
    background-color: $dark-green;
    color: whitesmoke;
  }
}

.income-list,
.expense-list {
  @include center-items;
  width: 100%;

  &__title {
    font-size: 2rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &--td {
      font-size: 1.25rem;
      padding: 10px;
    }

    th {
      text-align: left;
      font-size: 1.25rem;
      background-color: $dark-green;
      color: #ffffff;
      padding: 10px;
    }

    tbody {
      width: 100%;
      background-color: white;
    }

    tbody:nth-child(odd) {
      background-color: $light-green;
    }

    tr:hover {
      background-color: $primary-color;
    }

    .edit-btn,
    .delete-btn {
      border: 1px solid $primary-color;
      border-radius: 8px;
      padding: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    .delete-btn {
      background-color: $muted-red;
    }
  }
}

.footer {
  @include center-items;
  background-color: $light-green;
}

.hidden {
  display: none;
}