$primary-color: #8EA58C;
$dark-green: #344C3D;
$dark-medium-green: #738A6E;
$light-medium-green: #BFCFBB;
$light-green: #D9E5D8;

@mixin gradient {
  background-image: linear-gradient(
    to bottom right, $light-medium-green, white
  );
}

@mixin btn {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 10px;
}

@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  @include gradient;
}

.hidden {
  display: none;
}

.header {
  background-color: $primary-color;
}

.add-property {
  @include center-items;

  &--form {
    @include center-items;
  }
}

.form__btn {
  @include btn;

  &--selected {
    background-color: $dark-green;
    color: white;
  }
}