body {
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
}

main {
  background-image: linear-gradient(to bottom right, #a8dadc, white);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6A9EBE;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.header__title {
  margin-bottom: 0;
}
.header__subtitle {
  margin-top: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__title {
  font-size: 2rem;
}
.welcome__budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.welcome__budget--text {
  font-size: 1.5rem;
  margin: 10px 0 0;
}
.welcome__budget--total {
  font-size: 3rem;
  margin: 30px;
}

.add-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: whitesmoke;
}
.add-property--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.add-property--form hr {
  height: 0.1rem;
  width: 100%;
  background-color: #6A9EBE;
}
.add-property__income, .add-property__expense {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  width: 80%;
}
.add-property__income--title, .add-property__expense--title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.add-property__income--btn, .add-property__expense--btn {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 10px;
  background-color: #a8dadc;
  cursor: pointer;
  margin-bottom: 10px;
}
.add-property__income--btn:hover, .add-property__expense--btn:hover {
  background-color: #6A9EBE;
}
.add-property__income label, .add-property__expense label {
  font-size: 1.25rem;
}
.add-property__income input, .add-property__expense input {
  border: none;
  border: 1px solid #6A9EBE;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  font-size: 1rem;
}

.btn-sec__btn {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 10px;
  background-color: #a8dadc;
  cursor: pointer;
}
.btn-sec__btn--selected {
  background-color: #6A9EBE;
}

.income-list,
.expense-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.income-list__title,
.expense-list__title {
  font-size: 2rem;
}
.income-list__table,
.expense-list__table {
  width: 100%;
  border-collapse: collapse;
}
.income-list__table--td,
.expense-list__table--td {
  font-size: 1rem;
  padding: 10px;
}
.income-list__table th,
.expense-list__table th {
  text-align: left;
  font-size: 1.25rem;
  background-color: #6A9EBE;
  padding: 10px;
}
.income-list__table tbody,
.expense-list__table tbody {
  width: 100%;
  background-color: white;
}
.income-list__table tbody:nth-child(odd),
.expense-list__table tbody:nth-child(odd) {
  background-color: #f1faee;
}
.income-list__table tr:hover,
.expense-list__table tr:hover {
  background-color: #a8dadc;
}
.income-list__table .edit-btn,
.income-list__table .delete-btn,
.expense-list__table .edit-btn,
.expense-list__table .delete-btn {
  border: none;
  border-radius: 8px;
  background-color: #A0D4A6;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.income-list__table .delete-btn,
.expense-list__table .delete-btn {
  background-color: #ED6E78;
}

.expense-list {
  margin-bottom: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6A9EBE;
}

.hidden {
  display: none;
}/*# sourceMappingURL=styles.css.map */