$primary-color: #8EA58C;
$dark-green: #344C3D;
$light-green: #BFCFBB;

@mixin gradient {
  background-image: linear-gradient(to bottom right, $light-green, $primary-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  @include gradient;
}

.hidden {
  display: none;
}

.header {
  background-color: $primary-color;
}